@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Lato&family=Noto+Sans+KR:wght@100&family=Orbitron&family=Roboto:wght@100&display=swap');
.Department {
	figure {
		background-color: lightblue;
	}
	.historyBox {
		margin: 100px 0px;
		article {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding: 50px 0px;
			justify-content: space-between;
			position: relative;
			
			

			.line {
				position: absolute;
				top: 0;
				left: 35%;
				width: 1px;
				height: 1px;
				background: #555;
			}

			h2 {
				width: 30%;
				text-align: right;
			}
			ul {
				width: 65%;
				padding-left: 50px;
			}
		}
	}

	.memberBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
		

		article {
			position: relative;
			background-color: #fff;
			width: 30%;
			height: 65vh;
			margin-bottom: 100px;
			display: flex;
			flex-direction: column;
			border: 0.5px solid #777;
			border-radius: 20px;

			.current{
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				border: 0.5px solid #777;
				border-radius: 20px;
				width: 25%;
				height: 2%;
				background: #efefef;
			}

			.logo{
				width: 40%;
				height: 15vh;
				margin: 0 auto;
				img{
					margin-top: 30%;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.pic {
				width: 50%;
				height: 20vh;
				margin: 0 auto;
				margin-top: 15%;
				border: 3px solid #38aeea;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;

				}

				
			}
			
			.txt {
				padding-top: 20px;
				margin: 0 auto;

				h2{
					font: bold 2rem/1 'Lato';
					text-align: center;
				}
				p{
					text-align: center;
				}
				div{
					border-radius: 0px 0px 20px 20px;
					background: #38aeea;
					width: 100%;
					height: 13%;
					position: absolute;
					bottom: 0;
					margin: 0 auto;

					p{
						padding-top: 5%;
						color: white;
						font: bold 2rem/1 'Lato';
					}
				}
				
			}
		}
	}
}